* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;

}

body {
    background: #1A1A1A;
    color: #fff;
}

#header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 50px 10%;
    position: sticky;
    /* Ensured no space before !important if used */
    top: 0;
    /* This tells the browser the header should stick at 0px from the top */
    background-color: #1C2541;
    z-index: 9;
    
    
}

#header:hover {
    background-color: #0B132B;
    transition: all .3s ease-in;
}

.container {
    padding: 50px 10%;

}



nav ul {
    display: flex;
    gap: 30px;
}

a.me {
    color: white;
    text-decoration: none;

}

nav ul li {
    /* display: inline-block; */
    list-style: none;
    transition: all 1s ease-in-out;


    /* margin: 10px 20px; */

}

nav ul li a {
    padding: 10px 15px;
}

nav ul li.active a {
    color: white;
    /* font-weight: bold; */
    background-color:#3f59d5;
    border-radius: 10px;

}

nav ul li:hover a {
    /* border-bottom: 2px white solid; */
    transition: all .3s ease-in-out;
    /* font-weight: bold; */
    background-color:#3f59d5;
    border-radius: 10px;

}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;

}

.header-text {
    /* margin-top: 20%; */
    font-size: 30px;
}

.button1,
.button2 {
    width: auto;
    /* background-color: white;
    color: #080808; */
    font-family: 'Poppins', sans-serif;
    font-weight: 550;
    margin-top: 20px;
    border-radius: 15px;
    padding: 15px 20px;
    transition: all 0.3s ease-in;
}

.button1 {
    background-color: #005fbe;
    color: white;
    border: none;
}

.button2 {
    background-color: #1C2541;
    border: none;
    color: white;
}

.button1:hover {
    cursor: pointer;
    background-color: #084078;
    outline: 2px solid white;
    color: white;
}

.button2:hover {
    cursor: pointer;
    background-color: #0B132B;
    outline: 2px solid white; 
    color: white;
}

#about {
    /* padding: 50px 10%; */
    color: #ababab;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.about-col-1 {
    flex-basis: 35%;
}

.about-col-1 img {
    width: 100%;
    border-radius: 15px;
}

.about-col-2 {
    flex-basis: 60%;
}

.about-title {
    font-size: 40px;
    font-weight: 600;
    color: white;
}

.about-col-2 p {
    color: white;
    font-weight: 200;
}

.proj {
    font-size: 40px;
    font-weight: 600;
    color: white;
    text-align: center;
}

.grid-wrapper .chevron {
    width: 40px;
    height: 40px;
    background-color: white;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    font-size: 1.25rem;
    transform: translateY(-50%);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
}

.grid-wrapper .chevron:first-child {
    left: 5px;
}

.grid-wrapper .chevron:last-child {
    right: 10px;
}

.grid-wrapper {
    max-width: 100%;
    position: relative;
    overflow: hidden;
    padding: 50px 10%;


}

.element,
h2,
span {
    color: #080808;
}

.grid-wrapper .carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    gap: 16px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: 0;



}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel.no-transition {
    scroll-behavior: auto;

}

.carousel.dragging {
    scroll-behavior: auto;
    scroll-snap-type: none;
}

.carousel.dragging .element {
    cursor: grab;
    user-select: none;
}

.carousel :where(.element, .img) {
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel .element {
    scroll-snap-align: start;
    list-style: none;
    background: #fff;
    border-radius: 8px;
    display: flex;
    cursor: pointer;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;


}


.element .img img {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border: 4px solid;

}

.element,
h2 {
    font-weight: 500;
    font-size: 1.56rem;
    margin: 20px 0;

}

.element,
span {
    color: gray;
    font-size: 1.31rem;

}



.source-code-btn {
    width: auto;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    /* margin-bottom: 20px; */
    border-radius: 15px;
    border-color: white;
    padding: 15px 20px;
    background-color: #1C2541;
    border: 0;
    /* transition: all .3s ease-in; */

}

.source-code-btn:hover {
    background-color: #1C2541 ;
    cursor: pointer;
    opacity: 0.8;
    transition: all .3s ease-in;
    outline: 1px solid #762d20;


}



.source-code-btn a {
    color: white;
    font-size: 14px;
    text-decoration: none;

}


.contact-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 50px 10%;


}

.contact-left {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;

}

.left-title h1 {
    font-weight: 550;
    color: white;
    font-size: 40px;
    margin-bottom: 5px;

}

.left-title hr {
    border: none;
    width: 120px;
    height: 5px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 20px;
}

.contact-input {
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: #202A25;
    border-radius: 50px;



}

.contact-left textarea {
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;

}

.contact-input:focus {
    outline: 2px solid #1C2541;
}

.contact-input::placeholder {
    color: #a9a9a9;
}

.contact-left .submit-btn {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: white;
    background-color: #1C2541;
    gap: 10px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.submit-btn:hover{
    background-color: #0B132B;
    outline: 1px solid white;
    transition: all .3s ease-in;
}

.skills-wrapper {
    padding: 50px 10%;
    background-color: #1C2541;

}
.skills-wrapper:hover {
    transition: all .3s ease-in;
    background-color: #0B132B;
   
}

.skills-wrapper .skills-display {
    display: grid;
    grid-auto-flow: column;

}

.skills-display .icon-element {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 50px 10%;


}

.icon {
    width: 40px;
    height: 40px;
}

.skills-title {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    margin-top: 20px;
}



@media screen and (max-width: 900px) {
    .grid-wrapper .element {
        grid-auto-columns: calc((100% / 2) - 9px);
    }
}

@media screen and (max-width: 600px) {
    .grid-wrapper .element {
        grid-auto-columns: 100%;
    }
}


.full-row {
    width: 100%;
    padding: 50px 10%;
    /* overflow: hidden; */
}

.full-row.hero {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

body {
	background: linear-gradient(-45deg, #a8d0e6, #005fbe);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
	/* height: 100vh;  */
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.footer{
    width: 100%;
    background-color: #1C2541;
    padding: 50px 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
   
}

.footer:hover{
    background-color: #0B132B;
    transition: all .3s ease-in;
}

.socials, .social-element{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.social-element{
    font-size: 20px;
    text-align: center;
    width: 50px;
    height: 50px;
    text-decoration: none;
    color: white;
    /* gap: 50px; */
    


}

.social-element:hover{
    color: #3f59d5;
    transition: all .3s ease-in;

}
